@charset "UTF-8";

*{
    margin: 0;
    padding: 0;

}



body{
    background-color: #fff;
}

#logo{
    display: block;
    margin: 30px auto;

}

#title > h1{
    margin: 15px 0;
    color: #888888;

}

#teste-body{
    display: grid;
    grid-template-rows: 10vh 5vh 80vh 5vh;
}

img{
    width: 300px;
}

#main-container {
    max-width: 720px;
    margin: 0 auto;
}

#main-container > div{
    box-sizing: border-box;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header > #container{
    margin: auto;
    width: 100px;
}

ul{
    list-style-type: "•"; 
}

li{
    margin-left: 5px;
}

header h1, p{
    text-align: center;
    margin: auto;
}

#social{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

#zap{
    background-color: #888888;
    width: 90%;
    border-radius: 30px;
    display: block;
    margin: 10px auto;
}

#zap > a{
    display: inline-block;
    text-align: center;
    padding: 16px;
    width: 95%;
    text-decoration: none;
    color: #000;

}

#zap:hover{
    background-color: rgb(1, 204, 1);
}

.circle{
    border-radius: 100%;
    background-color: #888888;
    border: 0px solid black;
    height: 45px;
    width: 45px;
    margin-bottom: 15px;
}

.circle:hover{
    background-color: rgb(1, 204, 1);
}

img#dados{
    height: 25px;
    width: 25px;
    padding: 10px;
}

p, h1, h2{
    color: #000;
    margin: 16px 0;
}

#svg-whatsapp{
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

#social a{
    height: 100%;
}